.bigheading{ 
    font-size: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

 .face {
     width:70%;
     display: block;
     margin-left: auto;
     margin-right: auto;
      
 }
 .poster {
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
     
}
 #timeReadOut{
	font-family: 'Permanent Marker', cursive;
	font-size:200%;
    background-color: white;
	color:orange;
	
     
	
}
body{
    background-color: black;
}
.darkbody {
    color: black;
    background-color: slategrey;
}
.alignleft{text-align: left;}

.help{ background-color: blueviolet;}

.justify{text-align: justify;
text-justify: inter-word;}





 
 
 
  
